.open {
	display: flex !important;
}

.nav {
	display: flex;
	width: 700px;
	padding: 0 40px;

	&__list {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: space-between;
		a {
			color: #150101;
			font-family: Roboto;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}
}

/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: em(970)) {
	.nav {
		display: none;
		flex-direction: column;
		position: absolute;
		height: 35%;
		width: 20%;
		top: 0;
		left: 0;
		z-index: 50;
		background-color: rgb(242, 242, 247);
		animation: burgerAnimation 0.4s;

		&__list {
			flex-direction: column;
			row-gap: 30px;
		}
	}
}

@keyframes burgerAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
