.block-3__animated {
	opacity: 0; /* Блоки за замовчуванням не видимі */
	transform: translateY(40px); /* Початкове положення блоків нижче */
	transition: opacity 0.5s ease, transform 5s ease;
	&.animate {
		opacity: 1; /* Зробіть блоки видимими при анімації */
		transform: translateY(0); /* Позиція блоків після анімації */
	}
}
.img-block-3__animated {
	opacity: 0; /* Блоки за замовчуванням не видимі */
	transform: translateY(-40px); /* Початкове положення блоків нижче */
	transition: opacity 0.5s ease, transform 5s ease;
	&.animate {
		opacity: 1; /* Зробіть блоки видимими при анімації */
		transform: translateY(0); /* Позиція блоків після анімації */
	}
}

.img-block-4__animated {
	opacity: 0; /* Блоки за замовчуванням не видимі */
	transform: translatex(400px); /* Початкове положення блоків нижче */
	transition: opacity 0.5s ease, transform 5s ease;
	&.animate {
		opacity: 1; /* Зробіть блоки видимими при анімації */
		transform: translateY(0); /* Позиція блоків після анімації */
	}
}
.rev-img-block-4__animated {
	opacity: 0; /* Блоки за замовчуванням не видимі */
	transform: translatex(-400px); /* Початкове положення блоків нижче */
	transition: opacity 0.5s ease, transform 5s ease;
	&.animate {
		opacity: 1; /* Зробіть блоки видимими при анімації */
		transform: translateY(0); /* Позиція блоків після анімації */
	}
}
